/*STILE PAGINE SETTATO A BIANCO*/
.colorPage {
    background-color: white;
}
.bckgPage
{
    background-image: url('../img/techedge.png');
    background-size:cover;
}
.sfondobianco {
    background-color: white !important;
}

/*STILE TILES*/
.tileSize {
    width: 250px !important;
    height: 250px !important;
}

/*STILE MASTER PAGE*/
.MasterPanels {
    justify-content: center;
}
.stylePanelYellow {
    background-color: #FFD300; 
}
.stylePanelGreen {
    background-color: #80C342; 
}
.stylePanelRed {
    background-color: #DC6774; 
}
.stylePanelBrown {
    background-color: #5E3032; 
}
.shiftDown25 {
    top: 0.25rem;
}
.blueBorder {
    border: solid 1px #004785;
}
.blueBorderRight {
    border-right: solid 1px #004785;
}
.blueBorderBottom {
    border-bottom: solid 1px #004785;
}
.blueBorderTop {
    border-top: solid 1px #004785;
}
.blueBorderLeft {
    border-left: solid 1px #004785;
}
.sapMSplitContainerMaster {
    border-right: solid 1px #004785;
}
.yellowBorder {
    border: solid 5px #FFD300;
}
.greenBorder {
    border: solid 5px #80C342;
}
/*STILE BOTTONI SULLA MASTER PAGE*/
.styleButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    color: #004785;
    padding:4%;
    border-radius: 10px;
}

.styleButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    margin-left: 5%;
    color: #004785;
}
.styleLongButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    padding:3%;
    color: #004785;
    border-radius: 10px;
}
.styleLongButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    line-height: 17pt;
    white-space: normal;
    margin-left: 5%;
    color: #004785;
}
.styleVeryLongButton .sapMBtnInner {
    margin-left: 5%;
    width:90%;
    height:160%;
    padding:3.3%;
    color: #004785;
    border-radius: 10px;
}
.styleVeryLongButton .sapMBtnContent {
    font-size: 15pt;
    font-family: Arial;
    line-height: 17pt;
    white-space: normal;
    margin-left: 5%;
    color: #004785;
}
.styleDisabledButton .sapMBtnContent {
    font-style: italic;
}

/*STILE TESTI E INPUT TREETABLE*/
.diffStandard input {
    color : #DC6774;
}
.diffRed {
    color : #DC6774;
}
.diffLink {
    color : #004785;
    text-decoration: underline;
}
.notIncluded {
    color: #dddddd;
    font-style: italic;
}
.sapMTB-Transparent-CTX .sapMBtnInner {
    color: #004785;
    background-color:#efeff5;
}
.sapUiTableColHdrCnt {
    color: #00BBD6;
}
.sapMTB-Transparent-CTX.sapMTB {
    padding-left: 0rem !important;
}
.TTButton .sapMBtnInner {
    font-size: 15pt;
    font-family: Arial;
    color: #004785;
    background: #FFD300;
    width: 10em;
    border-radius: 10px;
}
.COUPLEDTTButton .sapMBtnInner {
    font-size: 15pt;
    font-family: Arial;
    color: #004785;
    background: #FFD300;
    width: 6em;
    border-radius: 10px;
}
/*STILE TESTI VARI*/
.sapMText {
    font-size: 15pt;
    font-family: Arial;
}
.sapMLabel {
    color: #004785 !important; 
    font-size: 14pt;
    font-family: Arial;
}
.sapUiLbl {
    font-size: 15pt !important;
    font-family: Arial;  
    color: #004785 !important; 
}
.textTop {
    font-size: 56pt;
    color : #004785;
    font-family: Arial;
}
.textTopReduced1 {
    font-size: 48pt;
    color : #004785;
    font-family: Arial;
}
.textTopReduced2 {
    font-size: 40pt;
    color : #004785;
    font-family: Arial;
}
.textTopRed {
    font-size: 40pt;
    color: #DC6774;
    font-family: Arial;
}
.textHugeRed {
    font-size: 56pt;
    color: #DC6774;
    font-family: Arial;
}
.customText {
    font-size: 35pt;
    color : #004785;
    font-family: Arial;
}
.customTextFermi .sapMLabel {
    font-size: 25pt;
    color : #004785;
    font-family: Arial;
}
.OEEText {
    font-size: 35pt;
    color : #004785;
    font-family: Arial;
}
.underlineOEE {
    text-decoration: underline;
}
.customTextFermo  {
    font-size: 15pt;
    text-align: center;
    color : #DC6774;
    font-family: Arial;
}
.titleTT {
    color : #DC6774 !important;
    font-family: Arial;
}
.textNormal {
    font-size: 15pt;
    color : #004785;
    font-family: Arial;
}
.causeText .sapMListTbl .sapMText {
    font-size: 20pt;
    color : #004785;
}
.causeSingleTexts .sapMText {
    font-size: 20pt;
    color : #004785;
}
.causeText .sapMListTbl .sapMLabel {
    font-size: 20pt;
    color : #DC6774;
}

.verticalAlignment {
    vertical-align: middle; 
}
/*STILE TAB CONTAINER*/
.shiftDownCause .sapMBtnInner {
    top: 1rem;
}
.annullaButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #DC6774;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    height: 150%;
}
.chiudiButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #f2f2f2;
    color: #004785;
    border-radius: 10px;
    padding: 2.5%;
    height: 150%;
}
.allarmeButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #FFD300;
    color: #004785;
    border-radius: 10px;
    padding: 2.5%;
    height: 150%;
}
.confermaButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #80C342;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    height: 150%;
}
.attrezzaggioButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #00BBD6;
    color: white;
    padding: 0.65%;
    height: 150%;
    border-radius: 10px;
}
.chiusuraButton .sapMBtnInner {
    font-family: Arial;
    font-size: 20pt;
    background: #5E3032;
    color: white;
}
.annullaButtonDialog .sapMBtnInner {
    font-family: Arial;
    font-size: 30pt;
    color: white;
    background: #DC6774;
    border-radius: 10px;
    height: 200%;
    padding: 5%;
    top: 1rem;
}
.confermaButtonDialog .sapMBtnInner {
    font-family: Arial;
    font-size: 30pt;
    color: white;
    background: #80C342;
    border-radius: 10px;
    height: 200%;
    padding: 5%;
    top: 1rem;
}
textButtonsDialog .sapMBtnContent {
    line-height: 1.8rem;
}
/*.sapMTabStrip {
    background: #00BBD6;
}
.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem {
    background: #00BBD6;
    color: white;
}*/

/*STILE PROGRESS BAR*/
.ProgressBar {
    padding: 0px;
    border: solid 1px #004785;
}
.SPCButtonDimensionsEdo .sapMBtnInner {
    padding-left:25% !important;
    padding-right:25% !important;
    position: relative;
    text-shadow: none;
    /*height: 3.5rem;*/ 
}
.SPCButtonColorGreen .sapMBtnInner {
    background: #80C342; 
}
.SPCButtonColorYellow .sapMBtnInner {
    background: #FFD300;
}
.DualSPCButtonTextPadding .sapMBtnInner {
    background: #FFD300;
}
.SPCButtonHeight .sapMBtnInner {
    height: 120.3px !important;
    position: relative;
}
.SPCButtonContent .sapMBtnContent {
    position: absolute;
    left: 41%;
    top: 36%;
    font-size: 24pt;
}
.DualSPCButtonContent .sapMBtnContent {
    position: absolute;
    left: 34%;
    top: 36%;
    font-size: 24pt;
}
.SPCButtonPhase1 .sapMBtnIcon {
    position: absolute;
    max-height: 100%;
    height: 90%;
    width: 70%;
    left: 18%;
    top: 5%;
}
.borderBlue .sapMBtnInner {
    border: solid 1px;
    border-color: #004785;
}
.SPCVBox {
    border: solid 1px;
    border-color: #004785;
    height: 90% !important;
    top: 0.3rem;
}
.customTextBar *{
    font-size: 56pt;
    color : #004785;
    font-family: Arial;
    font-weight: normal;
}
.customTextBarFermo *{
    font-size: 40pt;
    font-family: Arial;
}
.sapMPIBarPositive {
    background: #80C342;
    border-right: 1px solid #004785;
}
.sapMPIBarNegative{
    background: #F68B1F;
    border-right: 1px solid #004785;
}
.sapMPIBarCritical {
    background: #FFD300;
    border-right: 1px solid #004785;
}
.sapMPIBarNeutral {
    background: white;
    border-right: 1px solid #004785;
}

/*STILE TABELLA TOTALE CAUSALIZZAZIONE EDO*/
.sapMListTblCell {
    border-left: 1px solid #ccc;
}
.mysapMListTblCell .sapMListTblCell {
    padding-left:0.5rem;
}
.mysapMText .sapMText {
    padding-top: 0.75rem;
}
.mysapMCb .sapMCb {
    left: 0.375rem;

}
.scrollingbarTransparent{
    overflow-y: scroll; 
}
.scrollingbarTransparent::-webkit-scrollbar{
    background-color: transparent !important; 
}
.scrollingbarTransparent::-webkit-scrollbar-corner{
    background-color: transparent;
}
.scrollingbarTransparent::-webkit-scrollbar-thumb{
    background-color: transparent;
}
/*STILE TABELLA SINGOLI CAUSALIZZAZIONE*/
.mysapMTable {
    border-top : 1px solid #dddddd;
    border-right : 1px solid #dddddd;
}
.alternate-color .sapUiTableRowOdd {
    background-color: #efeff5;
}

.alternate-color .sapUiTableRowOdd input {
    color: #fff;
}

.alternate-color .sapUiTableRowOdd:hover td {
    background-color: #efeff5 !important;
}

.alternate-color .sapUiTableRowOdd:hover  input {
    color: #fff;
}

/*LOGO*/
.Logo {
    width: 65%;
    margin-left: 17.5%;
}
.logoBoxYellow {
    border: solid;
    border-color: #FFD300;
}
.logoBoxGreen {
    border: solid;
    border-color: #80C342;
}
.logoBoxRed {
    border: solid;
    border-color: #DC6774; 
}
.logoBoxBrown {
    border: solid;
    border-color: #5E3032;
}

/*DIALOG*/
.dialogStyle {
    margin-left: 8%;
}
.LogoFragment {
    width: 55%;
    margin-left: 17.5%;
}
.topBorder {
    border-top: 2px solid #004785;
}








monobuttonSPC .sapMBtnInner {
    padding-left:25% !important;
    padding-right:25% !important;
    position: relative;
    text-shadow: none;
    /*height: 3.5rem;*/ 
}

.monobuttonSPC .sapMBtnIcon {
    position: absolute;
    left: 25%;
}

.monobuttonSPC .sapMBtnContent {
    position: absolute;
    left: 35%;
    top: 2.5%;
    background-color: transparent !important;
}

.bibuttonSPC .sapMBtnInner {
    padding-left:2% !important;
    padding-right:2% !important;    
    position: relative;
    text-shadow: none;
}
.bibuttonSPC .sapMBtnIcon {
    position: absolute;
}
.bibuttonSPC .sapMBtnContent {
    position: absolute;
    left: 22%;
    top: 2.5%;
    background-color: transparent !important;
}


/* TAB STRIP OVERWRITE  */

.sapMTabStrip {
    background: white;
}
.sapMTabStripItem {
    outline: none !important;
    padding-left: 0px !important;
    margin-left: 1rem !important; 
    margin-right: 1rem !important;
    background: white !important;
    border: 0px !important;
    color: #004785 !important; 
}
.sapMTabStripItem:focus::before {
    border: 0px !important; 
}
.sapMTabStripItem:hover {
    background: white !important;
}
.sapMTabStripItemSelected {
    border-top: 2px solid #004785 !important;
    border-bottom: 2px solid #004785 !important;
}
.sapMTSItemCloseBtnCnt {
    width: 0px !important; 
}
.sapMTabStripItemLabel {
    font-size: 20pt; 
}


.defaultHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol{
    height: 51px; 
}

.defaultHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol .sapUiTableColCell {
    height: 100%;
}

.defaultHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol .sapUiTableColCell .sapUiLbl{
    height: 100%;
    padding-top: 0.5rem; 
}

.modificaCondizioniHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol{
    height: 60px !important; 
}

.modificaCondizioniHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol .sapUiTableColCell {
    height: 100%;
}

.modificaCondizioniHeight .sapUiTableCnt .sapUiTableColHdrCnt .sapUiTableColHdrScr .sapUiTableColHdr .sapUiTableCol .sapUiTableColCell .sapMLabel{
    height: 100%;
    white-space: normal; 
    line-height: 1.5rem;
}
.sapMSplitContainerMaster:after {
    border-right: none;
}
.sapMSplitContainerMaster:before {
    border-right: none;
}
/* SAPMINPUTBASEINNER OVERWRITE */
.sapMInputBaseInner {
    font-size: 15pt; 
}